{% extends "billingitem/item_base.html" %}

{% block css_content %}
    {{ 't_css/main.css' | make_static_html | safe }}
{% endblock %}

{% block js_content %}
    {{ 't_js/item/new_item.js' | make_static_html | safe }}
    {{ 't_js/Common/add_node.js' | make_static_html | safe }}
    {{ 't_js/Common/data_validate.js' | make_static_html | safe }}
{% endblock %}

{% block item_content %}
    <div class="container-fluid form-horizontal" id="div_main_item">
        <div class="row-fluid" style="margin-top:0">
            <div class="span12">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label"><span class="form-inline text-Cash">*</span>主分类名称</label>
                        <div class="controls">
                            <input type="text" name="item_name" class="span8 forminput" required data-validate="^[\u4e00-\u9fa5\w]{1,30}$"
                                   data-validate-msg="主分类名称;主分类名称仅允许中文英文数字且不能超过30个字"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="BTsave">
            <button class="btn btn-large btn-primary" id="btn_main_item">添加主分类</button>
        </div>

    </div>
     <div class="container-fluid form-horizontal" id="div_sub_item">
        <div class="row-fluid" style="margin-top:0">
            <div class="span12">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label"><span class="form-inline text-Cash">*</span>主分类名称</label>

                        <div class="controls">
                            <select id="main_items_list" type="text" name="basic_item" class="span8 forminput" required data-validate="^\d{1,6}$" >
                                </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label"><span class="form-inline text-Cash">*</span>子分类名称</label>

                        <div class="controls">
                            <input type="text" name="item_name" class="span8 forminput" required data-validate="^[\u4e00-\u9fa5\w]{1,30}$"
                                   data-validate-msg="子分类名称;子分类名称仅允许中文英文数字且不能超过30个字"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label"><span class="form-inline text-Cash">*</span>单价</label>

                        <div class="controls">
                            <input type="text" name="unit_price" class="span8 forminput" required data-validate="^\d{1,8}\.{0,1}\d{0,2}$"
                                   data-validate-msg="单价;单价必须是整数或者小数点两位"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="BTsave">
            <button class="btn btn-large btn-primary" id="btn_sub_item">添加子分类</button>
        </div>

    </div>
{% endblock %}