{% extends "base_v2.html" %}

{% block content %}
    <div id="content-header">
        <ul class="nav nav-tabs">
            <li name="add" class="active"><a href="javascript:return false;">基本信息</a></li>
        </ul>
    </div>
    <div id="formdata" class="container-fluid">
        <form class="form-horizontal" method="get" action="#" autocomplete="off">
            <input type="hidden" value="0" name="curid" id="curid">

            <div id="baseinfo">
                <div class="row-fluid" style="margin-top:0">
                    <div class="span12">
                        <div class="span6">
                            <div class="control-group">
                                <label class="control-label"><span class="form-inline text-Cash">*</span> 会员卡号</label>

                                <div class="controls">
                                    <input type="text" class="span8 forminput" id="cardno" name="cardno" value=""/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label"><span class="form-inline text-Cash">*</span> 会员类型</label>

                                <div class="controls">
                                    <input type="text" class="span8 forminput" id="cardnumber" name="cardnumber"
                                           cardtypeid="" placeholder="" value=""/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label"><span class="form-inline text-Cash">*</span> 折　　扣</label>

                                <div class="controls">
                                    <input type="text" class="span8 forminput" placeholder="折扣" id="discount"
                                           name="discount" value=""/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label"><span class="form-inline text-Cash">*</span> 流水单号</label>

                                <div class="controls">
                                    <input type="text" class="span8 forminput" value="00000013904" id="orderno"
                                           name="orderno"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label"><span class="form-inline text-Cash">*</span> 办卡时间</label>

                                <div class="controls">
                                    <input type="text" readonly class="span8 forminput date" name="opencardday"
                                           id="opencardday" value="2016-11-11"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label"><span class="form-inline text-Cash">*</span> 姓　　名</label>

                                <div class="controls">
                                    <input type="text" class="span8 forminput" name="truename" id="truename" value=""/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label"><span class="form-inline text-Cash">*</span>手　　机</label>

                                <div class="controls">
                                    <input type="text" class="span8 forminput" name="phone" id="phone" value=""/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label"><span class="form-inline text-Cash">*</span> 性　　别</label>

                                <div class="controls">
                                    <input type="text" class="span8 forminput" placeholder="0代表男性，1代表女性" name="sex"
                                           id="sex" value=""/>
                                </div>
                            </div>
                        </div>
                        <div class="span6">
                            <div class="control-group">
                                <label class="control-label">生　　日</label>

                                <div class="controls">
                                    <input type="text" class="span8 forminput date" name="birthday" id="birthday"
                                           value=""/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">消费密码</label>

                                <div class="controls">
                                    <input type="text" class="span8 forminput" name="cardpass" id="cardpass" value=""/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">备　　注</label>

                                <div class="controls">
                                    <textarea class="span8 forminput" name="remark" id="remark"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="BTsave">
                    <button class="btn btn-large btn-primary submitbtn span3" href="#add-4" data-toggle="modal">保存数据
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!--整体页面结束，以下是弹出窗口-->

    <!--开卡成功提示-->
    <div id="add-4" class="modal hide fade modal-mini">
        <div class="modal-header">
            <button data-dismiss="modal" class="close" type="button">×</button>
            <h3><i class="icon icon-info-sign"></i>　提示！</h3>
        </div>
        <div class="modal-body">
            <p style="text-align:center"></p>
        </div>
        <div class="modal-footer">
            <a data-dismiss="modal" class="btn btn-primary" href="#">3秒跳转到收银</a>
            <a id="memberedit" class="btn btn-primary" href="http://e.gysjjt.com/yingmei.php/memberdetail">继续填写档案</a>
        </div>
    </div>
</div>
{{ 't_js/member/new_member.js' | make_static_html | safe }}
{% endblock %}